p::first-letter{
    font-size: 50px;
    color: aqua;
}

h1::first-line{
    background-color: black;
    color: white;
    font-family: cursive;
}

h2::after{
    content: url(https://cdn.pixabay.com/photo/2023/11/30/07/11/river-8420934_1280.jpg);
}

li::marker{
    /* color: red; */
    content: "😒";
}

li+li+li::marker{
    content: "🚗";
}

h3::selection{
    color: white;
    background-color: black;
}

h5{
    font-size: 100px;
}

*{
    font-family: 'Grandiflora One', cursive;
font-family: 'Kalnia', serif;
font-family: 'Noto Sans JP', sans-serif;

}